mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(class="order", name='order', type='hidden', value=`Заявка  с сайта`) 
		block

mixin input(placeholder,  t='text', label, name= t)
	mixin t(t='text',placeholder, name= t)
		if t== "textarea"
			+e.TEXTAREA.input.form-control(name=name placeholder=placeholder)
		else if t== "select"
			+e.SELECT.input.form-select( name= name)&attributes(attributes)
				option(value= placeholder)= placeholder
				- for (var x = 1; x < 5; x++)
					option(value=` placeholder ${x}`)= `placeholder ${x}`
		else if t=='file'
			+e.INPUT.input.form-control(name=name type=t)&attributes(attributes)
			
		else if t=='number'
			+e.INPUT.input.form-control(name=name type=t placeholder=placeholder step='any')&attributes(attributes)
		else if t=='date'
			+e.INPUT.input.form-control(name=name type=t )&attributes(attributes)
		else
			+e.INPUT.input.form-control(name=name type=t placeholder=placeholder)&attributes(attributes)
	+e.input-wrap.form-group
		if label
			label
				+e.SPAN.input-title= label
				+t(t,placeholder, name)&attributes(attributes)
				block
		else
			+t(t,placeholder, name)&attributes(attributes)
			block
	// +e.input-wrap
mixin select(label,pl,...items)
	+e.input-wrap.form-group
		label
			+e.SPAN.title= label
			+e.SELECT.input.form-control&attributes(attributes)

					option()= pl
					each item in items
						option()= item

//- wrapper for form
mixin form-wrap(inp)
	+b.form-wrap&attributes(attributes)
		form
			if inp
				input(name='example-input-field', type='hidden')
				input(class="order", name='order', type='hidden', value=`Заявка  с сайта`) 
				input(class='utm_source' name='utm_source' type="hidden")
				input(class='utm_term' name='utm_term' type="hidden")
				input(class='utm_medium' name='utm_medium' type="hidden")
				input(class='utm_campaign' name='utm_campaign' type="hidden")
			block
//- /wrapper for form


mixin in-c(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input.form-check
		+e.INPUT.input.form-check-input(name=name, type=typ)&attributes(attributes)
		if block
			block 
		else
			+e.SPAN.text.form-check-label= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin policy()
	+e.policy
		+in-c()(checked)
			+e.SMALL.text.text-secondary Согласен на обработку и хранение моих персональных данных в соответствии с условиями